* {
  font-family: 'Baloo Da 2', cursive;
  font-size: 20px;
}
.text_destacado {
  color: #00b9b1;
}
.main {
  padding: 0;
}
.section {
  padding-top: 2rem;
  margin-top: 2rem;
}
.section h2 {
  font-size: 1.6rem;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  background: #00b9b1;
  border: none;
  box-shadow: none;
  border-radius: 1rem 0;
}
.btn-primary:active,
.btn-primary:hover {
  background: #005d59 !important;
  transform: scale(0.9);
}
.btn_arrow {
  color: #00b9b1;
  background: #fff;
  border: none;
}
.btn_arrow:focus {
  outline: none;
}
.btn_arrow i {
  border: solid 2px #00b9b1;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.5rem;
}
.btn_arrow i:hover {
  background: #00b9b1;
  color: #fff;
}
.resaltado {
  background: rgba(0,185,177,0.3);
}
.resaltado .cita {
  margin: 1rem 0;
  font-family: 'Courgette', cursive;
}
.comentarios {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.comentarios h3 {
  margin-left: 2rem;
}
.tab-content h2,
.tab-pane h2 {
  font-size: 1.5rem;
}
.preguntas {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
.preguntas h2 {
  font-size: 1.8rem;
  margin-left: 2rem;
}
.preguntas::before {
  content: 1;
}
.respuesta {
  margin: 1rem 0;
  font-family: 'Courgette', cursive;
}
.footer {
  background: #00b9b1;
  padding: 1rem 0;
}
.footer a,
.footer h3,
.footer p,
.footer h4 {
  color: #fff;
  font-size: 1rem;
}
.footer h3 {
  font-weight: 800;
}
.footer a {
  font-weight: 400;
  text-decoration: underline;
}
.footer h4 {
  font-size: 0.8rem;
}
.social_media {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.social_media img {
  width: 2.5rem;
}
.copy {
  border-top: solid 1px #fff;
  padding-top: 0.6rem;
}
.iconos {
  color: #00b9b1;
}
.datos_usuario h3::before {
  content: '$ ';
}
.form_envio input,
.form_envio textarea {
  border: solid 2px #00b9b1;
  border-radius: 1.5rem;
  font-size: 0.7rem;
}
.form_envio input:focus,
.form_envio textarea:focus {
  outline: none;
}
.form_envio textarea {
  padding: 1rem;
  resize: none;
}
@media screen and (max-width: 576px) {
  .section {
    margin-top: 0;
    padding-top: 1.5rem;
  }
  .comentarios h3 {
    font-size: 1rem;
  }
  .nav-link img {
    width: 2rem;
  }
  .btn_arrow i {
    padding: 0.5rem;
    font-size: 1rem;
  }
  header {
    position: fixed;
    z-index: 1;
    background: #fff;
  }
  main {
    padding-top: 4rem !important;
  }
}
